# 프로젝트 루트에 위치해야 함
root = true

# 모든 파일 공통 설정
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C++ 코드 스타일 (언리얼 스타일 가이드 반영)
[*.{h,cpp}]
indent_style = space
indent_size = 4
max_line_length = 120